<div class="container">
  <%= render partial: 'partial/header' %>
	<div class="content row"> 
		<div class="col-md-12 no-margin-left" style="padding-top:60px;">
			<div class="ajax-alert alert alert-info" style="display:none;" role="alert">
				<p></p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="bs-callout bs-callout-info">
				<h5 style="color:#1b809e; font-size: 20px;">With our product, to what extent did we 
					convinced you that there are hidden risks in your decision making?
				</h5> 
				<div class="lead">
					<% if @stars %>
					<div id="stars" data-rating="<%= @stars[:like].presence %>" class="starrr"></div>
					<% else %>
					<div id="stars" class="starrr"></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>