<%= javascript_tag do %>
  window.me = '<%= current_user.email %>';
  window.current_issue = '<%= @issue.id %>';
<% end %>
<div class="container">
  <%= render partial: 'partial/header' %>
  <div class="col-md-12 no-margin-left" style="padding-top:60px;">
  <% if flash[:notice] %>
    <div class="ajax-alert alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>
        <%= flash[:notice] %>
      </p>
    </div>
    <% end %>
  </div>

  <div class="box">
    <div class="content row">    
      <div class="col-md-12">
        <div class="bs-callout bs-callout-info"> 
          <h4><%= @issue.title %> </h4>
          <p><%= @issue.desc %> </p> 
        </div>
        <div class="bs-callout bs-callout-danger" id="callout-glyphicons-dont-mix"> 
  <h4>Guidelines</h4>
   
   
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          What to do in this page?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      <ul><li>
        The matrix table given above is a <code>discision table</code>(your decision) for the discussion undergoing.</li>
        <li>The first row is the set of available <code>options</code> which are going to be evaluated on the basis of some specific <code>criterion</code>(1st column). </li>
        <li>Each <code>criterion</code> has a predefined <code>weight</code>.</li>
        <li>You evaluate the cell and provide a reasonable <code>vote</code> from 1-5.</li>
        <li>The <code>vote</code> is multiplied with the <code>weight</code> to calcualte the points for that cell. After all the grids are filled, you can see the resulting sum at the bottom.</li>
        <li> You can <code>comment</code> on each cell by double clicking on the cell input.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          How to use the voting table?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= image_tag "desc.jpeg" %> 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Start own Discussion
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <ul>
        <li>Follow the link below to create your own new discussion topic.</li>
        <li>You can invite contributors by adding email addresses to the invitation list.</li>
        <a href="/index"><button type="button" class="btn btn-success float_left">Home Page</button></a>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
        <div class="bs-callout bs-callout-info"> 
          <h4>Your Contribution</h4><h5>Total <code><%= @issue.invited_email.length %></code> contributors including you</h5>(The other <%= @issue.invited_email.length-1 %> contributors are virtual to help you understand the working of the group descision tool.)
          <form class="form-horizontal" role="form" id="vote-form" action="/vote/<%= @issue.id %>" method="post" data-controller="main" data-label-title="Vote Issue">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> Criterion / Weight</th>
                  <% sn=0 %>
                  <% n=0 %>
                  <% @issue[:idea].each do |idea| %>
                  <th><%= idea %></th>   
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @issue_attr.each do |criterion| %>
                <% n+=1 %>
                <tr>                            
                  <th scope="row"><code style="cursor:pointer" class="highlighter-rouge" title="<%= criterion.desc %>"><%= criterion.title %> / <%= criterion.weight %> </code></th>
                  <% @issue[:idea].each do |idea| %>
                  <% sn+=1
                  counter = sn%@issue[:idea].size
                  if counter==0
                  counter = @issue[:idea].size
                  end %>
                  <td>
                    <div class="col-md-9 vote_cast vote_<%= counter %>">
                      <input data-weight="<%= criterion.weight %>" data-counter="<%= counter %>" data-box="<%= criterion.title %>_<%= idea %>" data-grid="<%= n %>_<%= counter %>" class="form-control" type="number" pattern="^[0-5]" min="0" max="5" value="<%= @votes_hash[counter][n][:value].presence %>" name='vote_cast[<%= counter %>][]' required>
                    </div>
                    <% if @votes_hash.length>1 %>
                    <input type="hidden" value="<%= @votes_hash[counter][n][:value].presence %>" name='edit_vote_cast[<%= counter %>][]' >
                    <% end %>
                    </div>
                    <div class="col-md-3 vote_point" style="color:#bbb;">0</div>
                  </td>                
                  <% end %>
                </tr>
                <% end %>
                <tr>
                  <th>Total</th>
                  <% sn=0 %>
                  <% @issue[:idea].each do |idea| %>
                  <% sn+=1
                  sum = sn%@issue[:idea].size
                  if sum==0
                  sum = @issue[:idea].size
                  end %>
                  <th class="column_sum_<%= sum %>">X</th>               
                  <% end %>
                </tr>
              </tbody>
            </table>
            <% if @issue.status==true %>
            <input type="submit" class="btn btn-primary" value="Cast Vote" />
            <% end %>
          </form>
        </div>
      </div>      
    </div>
  </div>
  
  <!-- comment starts here -->
  <% if @comments.length > 0 %>
  <div class="row">
    <div class="col-sm-12">
      <h3>Discussion </h3>
    </div>
  </div>
  
  <% current_section = @comments.first.grid %> 
  <!-- creation of first modal popup -->
  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="com_<%= @comments.first.grid %>" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="label-title"><code>Box Plot: <%= @comments.first.grid %></code></h4>
      </div>
      <div class="modal-body">
      <!-- create modal popup for each next comment available -->
  <%@comments.each do |comment|
    if comment.grid==current_section %>
      
        <div class="row">
          <div class="col-sm-2">
            <div class="thumbnail">
              <%= image_tag "avatar.png" %>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="comment-user-name">
              <strong><%= comment.user_id %></strong> <span class="text-muted"> <%= time_ago_in_words(comment.updated_at) %> ago</span>
            </div>
            <div class="comment-main-thread">
            <div>
              <%= comment.comment %>
              </div>
              <% if comment.user_id == current_user.email %>
              <div><span class="glyphicon glyphicon-trash trash-red" data-id="<%= comment.id %>" aria-hidden="true"></span></div>
              <% end %>
            </div>
          </div>
        </div>
        
    <% else %>
      <% current_section = comment.grid %>
        <div class="row">
            <div class="col-sm-2 reply-comment">
              <div class="thumbnail">
                <%= image_tag "avatar.png" %>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong><%= current_user.email %></strong>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="your response">
                <span class="input-group-btn">
                  <button class="btn btn-default post-comment" data-grid="" type="button">Post</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="com_<%= current_section %>" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="label-title"><code>Box Plot: <%= current_section %></code></h4>
      </div>
      <div class="modal-body">
      <div class="row">
          <div class="col-sm-2">
            <div class="thumbnail">
              <%= image_tag "avatar.png" %>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="comment-user-name">
              <strong><%= comment.user_id %></strong> <span class="text-muted"> <%= time_ago_in_words(comment.updated_at) %> ago</span>
            </div>
            <div class="comment-main-thread">
            <div>
              <%= comment.comment %>
              </div>
              <% if comment.user_id == current_user.email %>
              <div><span class="glyphicon glyphicon-trash trash-red" data-id="<%= comment.id %>" aria-hidden="true"></span></div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
    
  <% end %>
  <!-- closing of the first default modal popup -->
  <div class="row">
            <div class="col-sm-2 reply-comment">
              <div class="thumbnail">
                <%= image_tag "avatar.png" %>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong><%= current_user.email %></strong>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="your response">
                <span class="input-group-btn">
                  <button class="btn btn-default post-comment" data-grid="" type="button">Post</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal popup dynamic generator ends here -->


<% current_comment = @comments.first.grid %> 
  <!-- creation of first comment box under discussion -->
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-10">
              <div class="comment-box-name">
                <code><strong><%= @comments.first.grid %></strong></code>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
      <!-- create discussion box for each next comment available -->
  <%@comments.each do |comment|
    if comment.grid==current_comment %>
      <div class="row">
            <div class="col-sm-2">
              <div class="thumbnail">
                <%= image_tag "avatar.png" %>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong><%= comment.user_id %></strong> <span class="text-muted"><%= time_ago_in_words(comment.updated_at) %> ago</span>
              </div>
              <div class="comment-main-thread">
              <div>
                <%= comment.comment %>
                </div>
                <% if comment.user_id == current_user.email %>
              <div><span class="glyphicon glyphicon-trash trash-red" data-id="<%= comment.id %>" aria-hidden="true"></span></div>
              <% end %>
              </div>
            </div>
          </div>
        
    <% else %>
        <div class="row">
            <div class="col-sm-2 reply-comment">
              <div class="thumbnail">
                <%= image_tag "avatar.png" %>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong><%= current_user.email %></strong>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="your response">
                <span class="input-group-btn">
                  <button class="btn btn-default post-comment" data-grid="<%= current_comment %>" type="button">Post</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% current_comment = comment.grid %>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-10">
              <div class="comment-box-name">
                <code><strong><%= current_comment %></strong></code>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
              <div class="thumbnail">
                <%= image_tag "avatar.png" %>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong><%= comment.user_id %></strong> <span class="text-muted"><%= time_ago_in_words(comment.updated_at) %> ago</span>
              </div>
              <div class="comment-main-thread">
              <div>
                <%= comment.comment %>
                </div>
                <% if comment.user_id == current_user.email %>
              <div><span class="glyphicon glyphicon-trash trash-red" data-id="<%= comment.id %>" aria-hidden="true"></span></div>
              <% end %>
              </div>
            </div>
          </div>
    <% end %>
    
  <% end %>
 
  <div class="row">
            <div class="col-sm-2 reply-comment">
              <div class="thumbnail">
                <%= image_tag "avatar.png" %>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong><%= current_user.email %></strong>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="your response">
                <span class="input-group-btn">
                  <button class="btn btn-default post-comment" data-grid="<%= current_comment %>" type="button">Post</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <% end %>
  <!-- closing of the first default comment popup -->
  <!-- comment discussion dynamic generator ends here -->
</div>
<!-- <%= render partial: 'partial/footer' %> -->
<!-- below are the templates for modal comment popup and comments under discussion heading -->
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="com_template" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="label-title"><code>Box Plot: </code></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-2 reply-comment">
            <div class="thumbnail">
              <%= image_tag "avatar.png" %>
            </div>
          </div>

          <div class="col-sm-10">
            <div class="comment-user-name">
              <strong><%= current_user.email %></strong>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="your response">
              <span class="input-group-btn">
                <button class="btn btn-default post-comment" data-grid="" type="button">Post</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>