<div class="container">
  <%= render partial: 'partial/header' %>
  <div class="col-md-12 no-margin-left" style="padding-top:60px;">
    <div class="ajax-alert alert alert-info" style="display:none;" role="alert">
      <p></p>
    </div>
  </div>

  <div class="box">
    <div class="content row">    
      <div class="col-md-12">
        <div class="bs-callout bs-callout-info" id="callout-glyphicons-location"> 
          <h4><%= @issue.title %> </h4>
          <p><%= @issue.desc %> </p> 
        </div>
        <form class="form-horizontal" role="form" id="vote-form" action="/vote/<%= @issue.id %>" method="post" data-controller="main" data-label-title="Vote Issue">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> Criterion / Weight</th>
                <% sn=0 %>
                <% @issue[:idea].each do |idea| %>
                <th><%= idea %></th>   
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @issue_attr.each do |criterion| %>
              <tr>                            
                <th scope="row"><code style="cursor:pointer" class="highlighter-rouge" title="<%= criterion.desc %>"><%= criterion.title %> / <%= criterion.weight %> </code></th>
                <% @issue[:idea].each do |idea| %>
                <% sn+=1
                counter = sn%@issue[:idea].size
                if counter==0
                counter = @issue[:idea].size
                end %>
                <td>
                  <div class="col-md-10 vote_cast vote_<%= counter %>">
                    <input data-weight="<%= criterion.weight %>" data-counter="<%= counter %>" class="form-control" type="number" pattern="^[0-5]" min="0" max="5" name='vote_cast[<%= idea %>][]' required>
                  </div>
                  <div class="col-md-2 vote_point" style="color:#bbb;">0</div>
                </td>                
                <% end %>
              </tr>
              <% end %>
              <tr>
                <th>Total</th>
                <% sn=0 %>
                <% @issue[:idea].each do |idea| %>
                <% sn+=1
                sum = sn%@issue[:idea].size
                if sum==0
                sum = @issue[:idea].size
                end %>
                <th class="column_sum_<%= sum %>">X</th>               
                <% end %>
              </tr>
            </tbody>
          </table>
          <input type="submit" class="btn btn-primary" value="Cast Vote" />
        </form>
      </div>      
    </div>
  </div>
  <!-- comment starts here -->
  <div class="row">
    <div class="col-sm-12">
      <h3>Discussion </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-2">
              <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
              </div>
            </div>
            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong>myusername</strong>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Add a public comment">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Post</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-sm-2">
            <div class="thumbnail">
              <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
          </div>
          <div class="col-sm-10">
            <div class="comment-user-name">
              <strong>someone</strong> <span class="text-muted">commented 3 days ago</span>
            </div>
            <div class="comment-main-thread">
              I will give high value to Hannover. I would like to suggest you guys too.
              Lets all make the Hannover winner once again because of these issues ....
            </div>
            <div class="row">
            <div class="col-sm-2 reply-comment">
              <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
              </div>
            </div>

            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong>someuserX</strong> <span class="text-muted">commented 2 days ago</span>
              </div>
              <div class="comment-sub-thread">
                Oh no friend! you are on the way to destruction ! save the world
              </div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-2 reply-comment">
              <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
              </div>
            </div>

            <div class="col-sm-10">
              <div class="comment-user-name">
                <strong>myusername</strong>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="your response">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Reply</button>
                </span>
              </div>
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ends here comment -->
</div>
<!-- <%= render partial: 'partial/footer' %> -->
