<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Groudi app</h1>
    <p>
      You have been invited to contribute in this discussion by one of your collegues. 
      Click on the following link to contribute ti this discussion: <br>
      <%= @url %><br>

      If you don't have a Groudi account, don't worry. It will take just a minute. We take nothing other than your email(for sign up).<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>